/* хедер начало*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 93px;
  margin-bottom: 95px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 18px;
}

.header__menu {
  justify-content: start;
  align-self: center;
}

.header__links-list {
  display: flex;
  column-gap: 33px;
  list-style: circle;
}

.header__link {
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  justify-content: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  justify-content: end;
  align-self: center;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
}

/* хедер конец */

/* ковер начало */

.cover {
  position: relative;
  z-index: 1;
  min-height: 757px;
  margin-bottom: 180px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 165px 50px 135px 50px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.high-line-height {
  line-height: 115%;
}

.aligned-text {
  align-self: start;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  align-self: center;
}

.small-line-height {
  line-height: 100%;
}

.aligned-text_right {
  align-self: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 78px;
  padding-right: 50px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  align-self: center;
  line-height: 127.273%;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 0;
  background-color: transparent;
  cursor: default;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /0.6);
}

/* ковер конец */

/* секция с карточками начало */

.lots {
  margin-bottom: 182px;
  padding-right: 50px;
  padding-left: 50px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 0 0%; /* grow shrink basis*/
  min-width: 430px;
  min-height: 450px;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-line: underline;
}

/* секция с карточками конец */

/* об начало */

.about {
  padding: 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2.05fr; /*885/430=2.05 это для того чтобы не использовать width, но по координатам все подходило в grid*/
  column-gap: 25px;
}

.about__logo {
  display: grid;
  justify-self: center;
  align-self: start;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 114px;
}

.about__text-all {
  justify-self: start;
  width: 100%;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 101px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0;
}

/* об конец */

/* футер начало */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 183px;
  margin-bottom: 90px;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.footer .address {
  justify-self: start;
  align-self: start;
  max-width: 240px;
  font-style: normal;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-underline-position: under;
  list-style: none;
}

.footer__menu-list-item {
  align-self: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  column-gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* футер конец */
